@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #FDFDFB;
	color: #133A65;
	font-family: 'Roboto', sans-serif;
}

.heading header h1 {
	margin-top: 1em;
}

nav {
	color: #FF8800;
	padding: .75em;
	text-align: center;
}

.navlinks {
	color: #ff8800;
	text-decoration: none;
	padding: 10px 20px;
	font-size: 1em;
	text-transform: uppercase;
}

.heading {
	text-align: center;
	padding: 13em 0 17em;
}

/*
add a background image to site - overlay h1 (maybe h2) and social links?
.main-header div {
	background: url('http://cdn.skim.gs/image/upload/v1456344012/msi/Puppy_2_kbhb4a.jpg');
}*/



.header-text {
	font-size: 3em;
	font-family: 'Oswald', sans-serif;
	/*text-transform: lowercase;*/
}

#slogan {
	font-size: 1.25em;
	width: 60%;
	text-align: center;
	margin: 0 auto;
}

.main-content {
	text-align: center;
}

.about-me {
	margin: 0 auto;
	padding: 1em 0;
	border-bottom: 1px solid #ccc;
}

.about-me h3 {
	font-family: 'Oswald', sans-serif;
    font-size: 3em;
    /* margin-bottom: .5em; */
    border-bottom: 1px solid #ccc;
    width: 20%;
    margin: 0 auto;
}

.about-me aside {
    float: left;
    width: 30%;
    margin: 0 0 0 10%;
}

.about-me article {
    float: right;
    width: 50%;
    vertical-align: top;
    padding: 9% 2%;
    margin: 0 10% 0 0;
    font-size: 1.25em;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.about-me img {
	width: 70%;
	padding: 25px 0px;
	border-radius: 50%;
}

.column-wrapper {
	/*background: #ccc;*/
	padding: 0 4%;
}

.column {
	width: 27%;
    margin: 0 3%;
	padding: .5em 0;
	float: left;
	vertical-align: text-top;
}

.column img {
	width: 95%;
	padding: .5em 0;
}

.project-title {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 1.5em;
}

footer {
	background: #133A65;
	color: #FDFDFB;
	text-align: center;
	padding: 1em;
	margin-top: 1em;
	clear: both;
}

footer a {
	text-decoration: none;
	color: #ff8800;
}

footer a p {
	text-transform: uppercase;
}


/*133A65 - navy blue
96D4D3 - lighter blue
FDFDFB - slightly off white
FF8800 - orange
*/