@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #FDFDFB;
	color: #133A65;
	font-family: 'Roboto', sans-serif;
}

.heading header h1 {
	margin-top: 1em;
}

nav {
	color: #FF8800;
	padding: .75em;
	text-align: center;
}

.navlinks {
	color: #ff8800;
	text-decoration: none;
	padding: 10px 20px;
	font-size: 1em;
	text-transform: uppercase;
}

.heading {
	text-align: center;
	padding: 13em 0 17em;
}

/*
add a background image to site - overlay h1 (maybe h2) and social links?
.main-header div {
	background: url('http://cdn.skim.gs/image/upload/v1456344012/msi/Puppy_2_kbhb4a.jpg');
}*/



.header-text {
	font-size: 3em;
	font-family: 'Oswald', sans-serif;
	/*text-transform: lowercase;*/
}

#slogan {
	font-size: 1.25em;
	width: 60%;
	text-align: center;
	margin: 0 auto;
}

.main-content {
	text-align: center;
}

.about-me {
	margin: 0 auto;
	padding: 1em 0;
	border-bottom: 1px solid #ccc;
}

.about-me h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	margin-bottom: .5em;
}

.about-me aside {
	display: inline-block;
	width: 30%;
}

.about-me article {
	display: inline-block;
	width: 50%;
}

.about-me img {
	width: 35%;
	padding: 25px 20px;
	border-radius: 50%;
}

/*.about-me p {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}*/

.column {
	width: 20em;
	margin: 0 2em;
	padding: .5em 0;
	display: inline-block;
	vertical-align: text-top;
}

.column img {
	width: 18.75em;
	padding: .5em 0;
}

.project-title {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 1.5em;
}

footer {
	/*background: #133A65;*/
	color: #FDFDFB;
	text-align: center;
	padding: 1em;
	margin-top: 1em;
	clear: both;
}

footer a {
	text-decoration: none;
	color: #ff8800;
}

footer a p {
	text-transform: uppercase;
}

/*these can all be removed at the end of Unit 6*/

header {
    background: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

aside {
    background: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

article {
    background: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

section {
    background: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background: #FF957E;
    border: 1px black solid;
    padding: 20px;
}


/*133A65 - navy blue
96D4D3 - lighter blue
FDFDFB - slightly off white
FF8800 - orange
*/